
@{
    ViewBag.Title = "Uefa Champions League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h2>Opciones generales</h2>

<li>@Html.ActionLink("Equipos", "VistaEquipos", "Album")</li>
<li>@Html.ActionLink("General", "VistaGeneral", "Album")</li>