@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Con esta eficiente y única herramienta se la envidia de todos al poder llevar un registro más ordenado y limipio de tus album que estes coleccionado, al mismo tiempo de ser ecológico y ahorrar un poco de papel.</p>
