@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UEFA Champions League Online Sticker Album</h1>
    <p class="lead">¡Dile adiós a las hojas de papel! Con esta aplicación el control de sticker repetidos, registrados y faltantes será de una manera interactiva y única.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Carga tu álbum en la pagína de carga y disfruta de todas las ventajas que te ofrecemos con esta innovadora App</p>
    </div>
</div>